body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.search-container {
    margin-top: 20px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.recipe-card {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.recipe-card img {
    width: 100%;
    border-radius: 5px;
}

.recipe-details {
    display: none;
    margin-top: 20px;
}

.recipe-details h2 {
    margin-bottom: 10px;
}

.recipe-details p {
    margin-bottom: 5px;
}

.recipe-details ul {
    list-style-type: none;
    padding: 0;
}
